body {
    margin: 0px;
    background-color: rgb(175,195,208);
}

#branding-container {
    text-align: right;
    margin: 1em;
    color: rgb(208, 193, 175);
    font-size: 1.2em;
    font-family: Helvetica, Sans-serif;
    font-style: italic;
}

.button-row-memory button {
    width: 4em;
    height: 2em;
}

.button-column {
    display: flex;
    flex-direction: column;
}

#container {
    text-align: center;
    margin-top: 3rem;
}

#device {
    display: inline-block;
    background-color: rgb(66,74,78);
    border-radius: 1rem;
    box-shadow: 4px, 4px, 12px ;
}

#display {
    background-color: black;
    color: white;
    text-align: right;
    font-size: 1.8rem;
    padding: .4em;
}

.disp-aux {
    font-size: .6em;
}

.disp-num {
    overflow: hidden;
    width: 5.5em;
    height: 1.2em;
}

.disp-row {
    display:flex;
    justify-content: space-between;
}

#disp-top {
    font-size: .6em;
}

#keypad-wrapper {
    padding: .2em;
    margin: .5em;

}

#keypad-wrapper button {
    width: 3rem;
    height: 3rem;
    box-sizing: border-box;
    background-color: rgb(208, 193, 175);
    border-radius: .5rem;
    margin:.2rem;
    border-color: #fbf0d2;
    border-style: outset;
}

#keypad-memory {
    display: flex;
    width: 100%;
}

#keypad-memory button {
    height: 1.6rem;
    font-size: .8rem;
}

#keypad-primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#keypad-primary button {
    font-size: 1rem;
}

#keypad-primary button.equals {
    height: 6.4rem; /* #keypad-wrapper button {height + margin * 2} */
}

/* Footer */
#footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width:100%;
    background-color: rgb(66,74,78);
    color: rgb(208, 193, 175);
}

#footer a {
    color: rgb(208, 193, 175);
}

footer p {
    margin: .5em;
}

#footer ul {
    list-style: none;
    margin: 1em;
    padding: 0px;
}

#footer li {
    display: inline;
    margin: 1em;
}